* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 100px;
    margin-left: 10px;
}

/* Inicio Cabecera */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 10px;
    background-color: #3D0000;
    width: 100%;
}

/* Fin Cabecera */

/*Cabecera Bootstrap*/

.navbar {
    background-color: #3D0000;
}

/*Fin Cabecera Bootstrap*/


/* Menu Navegación */

.nav-link {
    list-style: none;
    margin-right: 10px;
}

.nav-link li{
    display: inline-block;
}

.nav-link li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.nav-item .nav-link li a:hover {
    color: red;
}

/* Fin Menu Navegación */


/* Index Inicio */

/* Bootstrap Inicio Multimedia*/

.col-lg-6 img{
    height: 480px;
    box-shadow: 0 0 20px 0 #0D8573
}

.col-lg-6 video {
    box-shadow: 0 0 20px 0 #0D8573
}

.contaienr-fluid {
    margin: 30px 0px 0px 100px;
}


/* fin Bootstrap Inicio Multimedia */

/* Inicio texto home */
main h2, main p, main h3{
    text-align: center;
    margin: 20px 10px;
    color: white;
}

main h2, h3 {
    font-size: 40px;
    }


.txt-inicio{
    color: white;
    text-align: center;
    margin: 30px 0px 0px 0px;
}    

.txt-inicio h2{
font-size: 50px;  
}  

.txt-inicio p{
    font-size: x-large;}
/* Fin texto home */

/* Index Final */


/* Inicio discos */


/* Inicio Bootstrap discos */

.fondo-discos{
    background-image: url(./img/party-fondo.jpg);
    background-size: cover
}

.discovery {
    height: 500px;
    width: 100%;
}

.alive2007 {
    height: 500px;
    width: 100%;
}

.ram {
    height: 500px;
    width: 100%;
}

.col {
    margin-top: 20px;
}

.col-sm img{
    height: 15em;
    margin: 30px 0px 30px 50px;
}


/* Fin Bootstrap discos */


/* Fin discos */




/* Inicio Integrantes */

.band{
    display: block;
}

.band h1{
    color: white;
    text-align: center;
    font-size: 40px;
}


.band img {
    margin-top: 20px;
    margin-left: 450px;
    width: 600px;
    height: 374px;
    border: 7px solid white;
}

.txt-band h2{
    font-size: 25px;
}

/* Fin Integrantes */

/* Inicio Historia */

/* Bootstrapp Historia */
.col-md-5 img{
    height: 390px;
    margin-left: 15px;
    border: 8px solid white;
}

.col-md-7 .featurette-heading{
    color: white;
}

.col-md-7 .lead {
    color: white;
}

/* Fin Bootstrapp Historia */

/*Inicio textos grandes historia, galeria y videos */

.txt-historia {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt-carrusel {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.txt-videos {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Fin textos grandes historia, galeria y videos */

/* Inicio Carrusel historia */

#carrusel1 {
    height: 100%;
    border: 10px solid white;
}

#carrusel1 .carousel-item img{
    height: 100%;
    width: 100%;
}

#carrusel1 .carousel-control-prev {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    background-color: #2AD1B8;
}

#carrusel1 .carousel-control-next {
    height: 80px;
    width: 80px;
    background-color: #2AD1B8;
    margin-right: 20px;
}

#carrusel1 .carousel-control-prev, .carousel-control-next {
    margin-top: 350px;
}

#carrusel2 {
    width: 100%;
    height: 100%;
}

#carrusel2 .carousel-item video{
    height: 100%;
    width: 100%;
}


#carrusel2 .carousel-control-prev {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    background-color:red;
}

#carrusel2 .carousel-control-next {
    height: 80px;
    width: 80px;
    background-color: red;
    margin-right: 20px;
}

#carrusel2 .carousel-control-prev, .carousel-control-next {
    margin-top: 350px;
}

#carrusel2 .carousel-item h5{
    color: white;
    text-align: center;
    font-size: 30px;
}
/*Fin Carrusel historia */


/* Fin Historia */



/* Inicio Contacto */

.container-contacto {
    background-color:rgba(90, 89, 89, 0.799);
    width: 80%;
    margin: 50px auto;
}

.heading {
    color: white;
    text-align: center;
    font-size: 35px;
    border-bottom: 2px dotted white;
}

.sub-heading {
    color: white;
    text-align: center;
    font-size: 20px;
}

.form-control {
    margin: 10px 0px 0px 10px;
}

.btn {
    background-color: red;
    color: white;
    width: 100%;
    margin: 20px 20px 20px 10px;
}

.btn a:hover{
    color: #2AD1B8;
}

.txt-follow {
    color: white;
    font-size: 30px;
}

.follow {
    list-style: none;
}

.follow li{
    display: inline-block;
}

.follow li a{
    color: white;
    margin-left: 15px;
    font-size: 40px;
}

.follow li a:hover {
    color: red;
}


.txt-listen {
    color: white;
    font-size: 30px;
}
.music {
    list-style: none;
}

.music li{
    display: inline-block;
}

.music li a{
    color: white;
    margin-left: 15px;
    font-size: 40px;
}

.music li a:hover {
    color: red;
}
/* Fin Contacto */


/* Inicio pie de pagina */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #3D0000;
    color: white;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: auto;
}

footer p{
    margin: 20px;

}

footer p a{
    color:white;
    text-decoration: none;
}

footer p a:hover{
    color: red;
}

.social{
    list-style: none;
    margin-right: 30px;
}

.social li{
    display: inline-block;
    margin: 10px 0px 0px 15px;
}

.social li a{
    color: white;
    font-size: 20px;
}

.social li a:hover {
    color: red;
}

/* fin pie de pagina */
